@theme {
  --spacing-rose-padding: 2rem;
}

.rose-lime {
  --color-rose-100: var(--color-lime-100);
  --color-rose-300: var(--color-lime-300);
}

.rose-sky {
  --color-rose-100: var(--color-sky-100);
  --color-rose-300: var(--color-sky-300);
}